extends layout

block content 
h1 = Send some messages
form(action ="/new", method ="post")
span Name:
input(type="text" name="name")
br
span Message:
input(type="text"name="Message" placeholder="message")
br
button Add Message