extends layout

block content 

 h1 #{title}
  form(action ="/new", method ="POST")
   span Name:
    input#name(type="text" name="name" placeholder="name")
    br
   span Message:
   input#msg(type="text" name="Message" placeholder="message")
   br
   button Add Message